a:link { color: #0000ff; }
a:visited { color: #000090; }
a:hover { color: #c07100; }
a:active { color: #c07100; }


body {
  margin: 0;
  padding: 0;
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}
#header{
    margin:0;
    padding:0;
}
#background{    
  background-image:url("bg.jpg");
  background-position:center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top:-40;
}
sitetitle{
    text-align:center;
    color:#696969;
}


#logo {
  padding: 0 ;
  text-align: center;
  background-color:rgba(255,255,255,0.5);
}

#logo img {
  max-width: 120px;
  border: 5px solid #fff;
  border-radius: 100%;
}

#logo h1 {
  letter-spacing: 0.15em;
  color: #fff;
  text-shadow: 1px 1px 0px #000;
}

nav {
  margin: 0 ;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
}

nav .menu {
  margin: 0 10px;
  padding: 0;
}

nav .menu li {
  margin: 0 20px;
  display: inline-block;
}

nav .menu li a {
  padding: 15px 10px;
  text-decoration: none;
  color: #999;
  font-weight: bold;
}

nav .menu li a.selected {
  color: #000;
}
#sidebar{
    float:right;
    width:200px;
}
#sidebar .picture img{
    max-width:100px;
    height:auto;
    border:3px solid #fff;
}

.container {
  max-width: 800px;
  margin: 0px auto 0;
  background-color: #fff;
  
}

section {
  padding: 30px 20px;
}

section h1 {
  padding: 10px 0 20px 0;
  text-align: left;
  letter-spacing: 0.15em;
}
section h2 a{
    padding:5px;
    display:inline-block;
}

footer {
  padding: 10px 0;
  font-size: 93%;
  text-align: center;
  background-color: #ccc;
  color: #666;
}